 @font-face {
   font-family: "Lato";
   src: url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
 }

 body {
   color: #888;
   font-family: "Lato", sans-serif;
 }

 #header {
   background: #64a2d0;
   color: #D8E7F3;
   text-align: center;
 }

 #header h1 {
   color: #ffffff;
 }

 #header p {
   font-style: italic;
 }

 .nav>ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .nav a {
   color: #ffffff;
   text-decoration: none;
   padding: 0.85em 0;
   display: block;
 }

 .nav li {
   border-top: solid 2px #73ABD4;
 }

 .social {
   list-style: none;
 }
