 @font-face {
   font-family: "Lato";
   src: url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
 }

 body {
   color: #888;
   font-family: "Lato", sans-serif;
 }

 #header {
   background: #64a2d0;
   color: #D8E7F3;
   text-align: center;
 }

 #header h1 {
   color: #ffffff;
 }

 #header p {
   font-style: italic;
 }

 .nav>ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .nav a {
   color: #ffffff;
   text-decoration: none;
   padding: 0.85em 0;
   display: block;
 }

 .nav li {
   border-top: solid 2px #73ABD4;
 }

 .social {
   list-style: none;
 }



 h1, h2, h3, h4, h5, h6 {
   color: #777;
   font-weight: 700;
   line-height: 1em;
   margin: 0 0 0.5625em 0;
 }

 h2 {
   font-size: 2em;
   line-height: 1.5em;
 }

 h3 {
   font-size: 1.75em;
   line-height: 1.5em;
 }

 h4 {
   font-size: 1.25em;
   line-height: 1.5em;
 }

 h5 {
   font-size: 0.9em;
   line-height: 1.5em;
 }

 h6 {
   font-size: 0.7em;
   line-height: 1.5em;
 }


.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
