
 @import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic");


 body {
   color: #888;
   font-family: "Lato", sans-serif;
 }

 #header {
   background: #64a2d0;
   color: #D8E7F3;
   text-align: center;
 }

 #header h1 {
   color: #ffffff;
 }

 #header p {
   font-style: italic;
 }

 .nav>ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 .nav a {
   color: #ffffff;
   text-decoration: none;
   padding: 0.85em 0;
   display: block;
 }

 .nav li {
   border-top: solid 2px #73ABD4;
 }

 .social {
   list-style: none;
 }



 h1, h2, h3, h4, h5, h6 {
   color: #777;
   font-weight: 700;
   line-height: 1em;
   margin: 0 0 0.5625em 0;
 }

 h2 {
   font-size: 2em;
   line-height: 1.5em;
 }

 h3 {
   font-size: 1.75em;
   line-height: 1.5em;
 }

 h4 {
   font-size: 1.25em;
   line-height: 1.5em;
 }

 h5 {
   font-size: 0.9em;
   line-height: 1.5em;
 }

 h6 {
   font-size: 0.7em;
   line-height: 1.5em;
 }


.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}


/*=============================================
=            Form            =
=============================================*/

form {
  width: 95%;
}


input[type="text"], input[type="password"], input[type="email"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border-radius: 5px;
  border: none;
  border: solid 2px #e4e4e4;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;

    margin: 1.5em 0 0 1.5em;

}

input[type="text"], input[type="password"], input[type="email"], select {
  height: 2.75em;
}

input[type="submit"], input[type="reset"] {
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"] {
  background-color: #64a2d0;
}

input[type="submit"]:hover {
  background-color: #78AED6;
}

input[type="reset"] {
  background-color: #989898;
}

input[type="reset"]:hover {
  background-color: #a5a5a5;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 1.125em 0 0;
  vertical-align: middle;
}

/*=====  End of Form  ======*/
